@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap');

:root {
    --body-bg-color: #FAF7FD;
    --purple: #BB99DD;
  }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
    color:var(--purple);
    background-color: var(--body-bg-color);
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

a{
    color: var(--purple);
    text-decoration: none;
}

.conteiner{
    margin: 0 auto;
    width: 400px;
}

.profile{
    font-weight: 300;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    padding: 15px;
}

.profile img{
    margin: 15px;
    width: 190px;
    border-radius: 50%;
    border: 4px groove var(--purple);
}

.links a{
    font-weight: 600;
    width: 280px;
    height: 40px;
    border: 2px solid var(--purple);
    margin: 10px;
    padding-top: 7px;
    border-radius: 5px;
}

.links{
    align-items: center;
    padding: 10px;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.icons img{
    margin: 5px;
}

a:hover{
    transform: scale(1.2);
}

.icons img:hover{
    transform: scale(1.4);
}